
html {
    min-height: 100%;
    background-image: url("https://images.pexels.com/photos/4567479/pexels-photo-4567479.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

body {
    background-color: #94618E;
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    
}

.result {
    font-weight: bolder;
}
#partofspeech {
    font-style: italic;
}
h1{
    font-family: cursive;
    text-align: center;
    position: absolute;
    top: -15px;
    left: 350px;
    
}
#meaning{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.search-box{
    width: 30%;
    border: none;
    outline:none;
    border-bottom: 3px solid;
    font-size: 16px;

    
    
}

#search-btn {
    margin-left: 30px;
    width: 15%;
    padding: 5px 0;
}